/*comment widget*/
.userComment {
    margin: 16px 0 0 0;
}

.commentBubble {
    background: #eff5fe;
    color: #666666;
    border: 2px solid #62b6e2;
    border-radius: 8px;
    margin: 0 0 16px 0;
    padding: 10px;
    position: relative;
    font-size: 12px;
}

.commentBubble:before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 20px;
    border-width: 12px 12px 0;
    border-style: solid;
    border-color: #62b6e2 transparent;
    display: block;
    width: 0;
}

.commentBubble:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 22px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #eff5fe transparent;
    display: block;
    width: 0;
}

.userCommentBox {
    font-size: 12px;
    margin: 5px 0;
}

.userCommentBox i {
    display: block;
    margin: 0 0 5px 18px;
}

.userCommentBox i.sprite-flag {
    margin: 5px 0 5px 26px;
}

.shorDescriptionBox {
    width: 225px;
    margin: 0 0 0 10px;
    color: #999999;
}

.userCommentName {
    font-weight: bold;
    color: #013d93;
}
