<div class="userComment" data-ng-repeat="comment in appVm.comments">
    <p class="commentBubble" data-ng-bind-html="comment.comment | toTrusted"></p>
    <div class="userCommentBox clearfix">
        <div class="pictureBox floatLeft">
            <i class="sprite sprite-userPlaceHolder"></i>
            <i class="sprite sprite-flag"></i>
        </div>
        <div class="shorDescriptionBox floatLeft">
            <p class="userCommentName" data-ng-bind-html="comment.name | toTrusted"></p>
            <p class="userShortDescription" data-ng-bind-html="comment.shortDescription | toTrusted"></p>
            <p class="userCommentDate" data-ng-bind-html="comment.date | toTrusted"></p>
        </div>
    </div>
</div>