<div class="breadcrumbContainer">
    <a href="#">Despegar.com</a>
    <span>&rsaquo;</span>
    <a href="#">Hoteles</a>
    <span>&rsaquo;</span>
    <a href="#">Hoteles en Cuba</a>
    <span>&rsaquo;</span>
    <span class="last">Hoteles en Rio de Janeiro</span>
</div>