breadcrums .breadcrumbContainer {
    margin: 5px 0 14px 2px;
    font-size: 14px;
}
breadcrums .breadcrumbContainer span {
    margin: 0 8px;
}
breadcrums .breadcrumbContainer span.last {
    margin: 0;
}
breadcrums .breadcrumbContainer a {
    text-decoration: none;
}