<header>
    <breadcrums></breadcrums>
    <div class="heroContainer clearfix">
        <hero-title></hero-title>
        <social-module></social-module>
    </div>
    <div class="hotelFinderComponent clearfix">
        <hotel-finder></hotel-finder>
        <promo-display></promo-display>
    </div>
</header>
<div class="mainContainer clearfix">
    <aside class="listingsConatiner floatLeft">
        <h1 class="hFont">Listado de Hoteles en Rio de Janeiro, Brasil</h1>

        <div class="listings">
            <list-card data-ng-repeat="hotel in appVm.hotels |
                 offset: appVm.currentPage*appVm.itemsPerPage |
                  limitTo: appVm.itemsPerPage"></list-card>
            <p class="addHotel">¿Administra un hotel en Rio de Janeiro, Brasil? <a href="#">¡Incluyalo en este
                listado!</a></p>
        </div>
        <paginator data-page="appVm.hotels"></paginator>
    </aside>
    <aside class="floatRight widgetBar">
        <ul>
            <li class="widgetBox">
                <finder-map></finder-map>
            </li>
            <li class="widgetBox">
                <comment-bubble></comment-bubble>
            </li>
            <li class="widgetBox">
                <hotel-categories></hotel-categories>
            </li>
            <li class="widgetBox">
                <info-list class="widgetSection" data-ng-repeat="collection in appVm.lists"></info-list>
            </li>
        </ul>
    </aside>
</div>
<footer>
    <info-list class="footerSection" data-ng-repeat="collection in appVm.footerLists"></info-list>
</footer>