/* cards*/
list-card .card {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    height: 126px;
    margin: 10px 0 0 0;
    position: relative;
}

list-card .card img {
    margin: 0 14px 0 0;
}

list-card .card .cardData {
    width: 478px;
    padding: 15px 0 15px 17px;
}

list-card .card .cardPrice, list-card .availabilityBanner p {
    width: 150px;
}

list-card .card .cardPrice {
    background: url("../../media/images/gradient.png") repeat-x #fff;
}

list-card .card .cardDescription {
    font-size: 12px;
    max-width: 220px;
    word-wrap: break-word;
}

list-card .card .cardDescription h3 {
    color: #319fd8;
    font-size: 14px;
}

list-card .card .cardDescription .rating {
    margin: 10px 0 0 0;
}

list-card .card .cardDescription .address {
    color: #999999;
    font-size: 10px;
    margin: 10px 0 0 0;
}

list-card .card .cardDescription a {
    font-size: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 10px 0 0 0;
}

list-card .card .cardReviews {
    color: #013d93;
    font-size: 12px;
    margin: 0 20px 0 0;
}

list-card .card .cardReviews .reviewMessage span {
    margin: 2px 0 0 0;
    display: inline-block;
    vertical-align: top;
}

list-card .card .cardReviews .reviewMessage i {
    margin: 0 8px 0 0;
}

list-card .card .cardReviews .reviewPoints {
    margin: 10px 0 0 28px;
}

list-card .card .cardReviews a {
    display: inline-block;
    text-decoration: none;
    margin: 10px 0 0 28px;
}

list-card .cardPrice {
    text-align: center;
    padding: 21px 8px 15px 8px;
    overflow: hidden;
    border-radius: 4px;
    font-weight: bold;
    height: 124px;
}

list-card .cardPrice p:first-child {
    font-size: 12px;
}

list-card .cardPrice .price {
    margin: 10px 0 0 0;
}

list-card .card .cardPrice .availabilityButton {
    margin: 17px 0 0 0;
    width: 134px;
    cursor: pointer;
}

list-card .availabilityBanner {
    width: 0;
    height: 45px;
    font-size: 12px;
    position: absolute;
    background: #207cae;
    color: #fff;
    text-align: center;
    bottom: 0;
    right: 150px;
    overflow: hidden;
}


list-card .availabilityBanner li:first-child{
    text-align: left;
    margin: 2px 0 4px 2px;
}
list-card .availabilityTo {
    margin: 0 0 0 14px;
}

list-card .availabilityFrom {
    margin: 0 0 0 10px;
}
list-card .availabilityBanner li {
    white-space: nowrap;
    overflow: hidden;
}