<div class="card clearfix">
    <div class="cardData floatLeft">
        <img class="floatLeft" data-ng-src="{{hotel.media.src}}"/>
        <div class="cardDescription floatLeft">
            <h3>{{::hotel.name}}</h3>
            <p class="rating"><i class="sprite sprite-star" data-ng-repeat="i in [] | range:hotel.stars"></i></p>
            <p class="address">{{::hotel.adress}}</p>
            <a href="#">Ver mapa</a>
        </div>
        <div class="cardReviews floatRight">
            <p class="reviewMessage"><i class="sprite sprite-chatBubble"></i><span>{{::hotel.description}}</span></p>
            <p class="reviewPoints">{{::hotel.rating}} Puntos</p>
            <a href="#">{{::hotel.comments}} Comentarios</a>
        </div>
    </div>
    <div class="cardPrice floatRight">
        <p>Desde</p>
        <p class="price">U$S <span>{{::hotel.price}}</span></p>
        <div id="availabilityButton" class="availabilityButton">
            <i class="sprite sprite-availabilityButton"></i>
        </div>
    </div>
    <ul class="availabilityBanner">
        <li>Disponibilidad</li>
        <li>Desde :<span class="availabilityFrom">{{hotel.availability.from}}</span></li>
        <li>Hasta :<span class="availabilityTo">{{hotel.availability.to}}</span></li>
    </ul>
</div>
