/*globals*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #e9eaee;
    padding: 46px 0;
}

header {
    margin: 0 0 20px 0;
}

footer {
    margin: 30px 0 0 0;
}

/*links*/
a {
    color: #319fd8;
}

a:hover, a:active, a:visited {
    color: #319fd8;
}