/*helpers*/
.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.hide {
    display: none;
}

.inlineList li {
    display: inline;
}

.inlineBlockList li {
    display: inline-block;
}

.hFont {
    color: #013d93;
    font-weight: bold;
}

.container {
    width: 990px;
    margin: 0 auto;
    padding: 12px 20px 22px 20px;
    border-radius: 10px;
    background: #ffffff;
}

