@import "reset.css";
@import "global.css";
@import "helpers.css";
@import "sprites.css";
@import "../../components/breadcrums/breadcrums.css";
@import "../../components/listCard/listCard.css";
@import "../../components/paginator/paginator.css";
@import "../../components/finderMap/finderMap.css";
@import "../../components/commentBubble/commentBubble.css";
@import "../../components/hotelFinder/hotelFinder.css";
@import "../../components/heroTitle/heroTitle.css";
@import "../../components/promoDisplay/promoDisplay.css";
@import "../../components/hotelCategories/hotelCategories.css";
@import "../../components/infoList/infoList.css";
@import "../../components/socialModule/socialModule.css";

.heroContainer {
    height: 63px;
    background: #efefef;
    border-radius: 4px;
    margin: 0 0 19px 0;
}

/*content section*/
.mainContainer {
    margin: 0 0 5px 0;
}

/*listings*/
.listingsConatiner {
    width: 630px;
    margin: 0 20px 0 0;
}

.listingsConatiner h1 {
    background: #efefef;
    border-radius: 4px;
    font-size: 21px;
    padding: 20px 16px;
    margin: 0 0 9px 0;
}

.listings {
    margin: 0 0 57px 0;
    min-height: 692px;
}

.widgetBar {
    width: 300px;
}

.addHotel {
    font-size: 12px;
    margin: 10px 0 0 0;
}



