.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-availabilityButton {
    width: 134px;
    height: 35px;
    background-position: -5px -5px;
}

.sprite-bestPrice {
    width: 55px;
    height: 55px;
    background-position: -5px -50px;
}

.sprite-calendar {
    width: 17px;
    height: 18px;
    background-position: -149px -5px;
}

.sprite-chatBubble {
    width: 20px;
    height: 17px;
    background-position: -149px -33px;
}

.sprite-dropDown {
    width: 17px;
    height: 18px;
    background-position: -70px -60px;
}

.sprite-facebookLogo {
    width: 20px;
    height: 20px;
    background-position: -97px -60px;
}

.sprite-flag {
    width: 16px;
    height: 11px;
    background-position: -127px -60px;
}

.sprite-formButton {
    width: 110px;
    height: 42px;
    background-position: -5px -115px;
}

.sprite-gPlusLogo {
    width: 32px;
    height: 20px;
    background-position: -127px -81px;
}

.sprite-likeCount {
    width: 32px;
    height: 20px;
    background-position: -125px -111px;
}

.sprite-mapPin {
    width: 54px;
    height: 36px;
    background-position: -179px -5px;
}

.sprite-searchMap {
    width: 16px;
    height: 16px;
    background-position: -179px -51px;
}

.sprite-star {
    width: 16px;
    height: 15px;
    background-position: -205px -51px;
}

.sprite-twitterLogo {
    width: 20px;
    height: 20px;
    background-position: -205px -76px;
}

.sprite-userPlaceHolder {
    width: 32px;
    height: 27px;
    background-position: -169px -106px;
}
