info-list.widgetSection .accomodationTypes {
    margin: 18px 0 0 0;
}

info-list.widgetSection .accomodationTypes h1 {
    margin: 0 0 18px 0;
}

info-list.widgetSection .accomodationTypes ul li{
    padding: 2px 0;
    font-size: 14px;
    border-bottom: 1px solid #dedede;
}

info-list.widgetSection .accomodationTypes ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 0 4px 0;
}

info-list.footerSection .accomodationTypes{
    margin: 7px 0;
    padding: 13px 6px;
    background: #efefef;
}

info-list.footerSection article h1 {
    margin: 0 0 11px 0;
}

info-list.footerSection article ul li {
    border-top: 1px solid #cccccc;
    width: 177px;
    font-size: 12px;
    display: inline-block;
    padding: 0 0 0 4px;
    margin: 0 10px 0 0;
}

info-list.footerSection article ul li a {
    text-decoration: none;
}
