<div class="accomodationTypes">
    <article>
        <h1 class="hFont">{{collection.title}}</h1>
        <ul>
            <li data-ng-repeat="list in collection.lists"><a href="{{list.href}}">{{list.text}}</a></li>
        </ul>
    </article>
</div>