/*map*/
finder-map .map {
    background: #efefef;
    padding: 12px 10px 28px 10px;
}

finder-map .map h2 {
    font-weight: bold;
    margin: 0 0 13px 10px;
}

finder-map .map a {
    text-decoration: none;
    font-size: 9px;
    width: 80px;
    height: 20px;
    display: inline-block;
    margin: 8px 0 0 0;
}
finder-map .map a > * {
    vertical-align:middle;
}
finder-map .map a span{
    display: inline-block;
    margin: 0 0 0 5px;
}

finder-map #map-canvas {
    margin: 0 auto;
    width: 264px;
    height: 190px;
}

finder-map #map-canvas .gmnoprint a, .gmnoprint span {
    display: none;
}

finder-map #map-canvas .gmnoprint div {
    background: none !important;
}

finder-map #map-canvas a[target="_blank"] {
    display: none !important;
}
