<ul class="socialModule floatRight inlineList">
    <li><i class="sprite sprite-facebookLogo"></i></li>
    <li><i class="sprite sprite-twitterLogo"></i></li>
    <li><i class="sprite sprite-gPlusLogo"></i><i class="sprite sprite-likeCount"></i></li>
</ul>
