<span class="label">{{label}}</span>
<div class="dropdowWrap" >
    <span class="display">
        <span>{{value}}</span>
        <i class="sprite sprite-dropDown" data-ng-click="toggleMenu($event);"></i>
    </span>
    <ul class="customDropdown" data-ng-if="menuOn">
        <li class="selectItems" data-ng-repeat="item in items" data-ng-click="getValue(item)">{{item}}</li>
    </ul>
</div>