/*test*/
drop-down .dropdowWrap {
    list-style: none;
    position: relative;
    float: left;
    font-size: 12px;
    width: 49px;
    height: 30px;
    margin: 0 0 0 30px;
    padding: 0
}

drop-down .customDropdown {
    background: #fff;
    position: absolute;
    width: 49px;
    top: 100%;
    border: 1px solid #dedede;
    line-height: 1em;
}
drop-down .label {
    display: block;
    font-size: 13px;
    margin: 0 0 3px 30px;
}
drop-down .dropdowWrap span.display {
    width: 49px;
    font-size: 12px;
    display: inline-block;
    height: 30px;
    border: 1px solid #ddd;
    background: #fff;
    padding: 5px 0 0 10px;
}

drop-down .dropdowWrap span.display span{
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 9px 0;
}
drop-down .dropdowWrap span.display i {
    margin: 0 0 0 5px;
    cursor: pointer;
}

drop-down .customDropdown li {
    font-size: 10px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 4px 0 0 0;
    list-style: none;
    float: none;
    width: 49px;
    height: 20px;
}

drop-down .customDropdown li.selectItems:hover {
    background-color: #207cae;
    color: #fff;
    cursor: pointer;
}

