/*heroTitle*/
hero-title .heroTitle {
    margin: 13px 11px;
}

hero-title .heroTitle h1 {
    font-weight: bold;
    font-size: 23px;
    margin: 0;
}

hero-title .heroTitle h2 {
    color: #319fd8;
    font-size: 15px;
}