<ul class="pagination inlineList" data-ng-if="paginatorVm.shouldPaginate()">
    <li data-ng-class="paginatorVm.prevPageDisabled()" class="nextPrevLink">
        <a href data-ng-click="paginatorVm.prevPage()">&laquo; Anterior</a>
    </li>
    <li
            data-ng-repeat="n in paginatorVm.range()"
            data-ng-class="{activePagination: n != paginatorVm.currentPage}"
            data-ng-click="paginatorVm.setPage(n)">
        <a href>{{n+1}}</a>
    </li>
    <li data-ng-class="paginatorVm.nextPageDisabled()" class="nextPrevLink">
        <a href data-ng-click="paginatorVm.nextPage()">Siguiente &raquo;</a>
    </li>
</ul>