/*pagination*/

paginator .pagination {
    margin: 10px 0;
    text-align: center;
    color: #999999;
}

paginator .activePagination {
    border: 1px solid #e6e6e5;
    background-color: #f7f7f7;
}

paginator .pagination li {
    width: 26px;
    height: 26px;
    padding: 4px 0 0 0;
    margin: 0 4px;
    display: inline-block;
}

paginator .pagination li.nextPrevLink {
    display: inline-block;
    width: 81px;
}

paginator .pagination li.disabled {
    display: none;
}

paginator .pagination li a {
    text-decoration: none;
}
