<article class="hotelFinderContainer floatLeft">
    <h1 class="hFont">Buscar hoteles en Rio de Janeiro, Brasil</h1>
    <form action="#">
        <div class="formSection">
            <label for="cityInput">Ciudad</label>
            <input id="cityInput"
                   placeholder="Ciudad"
                   data-ng-model="hotelFinderVm.schema.city"
                   type="text"/>
        </div>
        <div class="formSection calendar">
            <label for="checkinInput">Entrada</label>
            <i class="sprite sprite-calendar"></i>
            <input id="checkinInput"
                   placeholder="dd/mm/aaaa"
                   data-ng-model="hotelFinderVm.schema.checkIn"
                   type="text"/>
        </div>
        <div class="formSection calendar">
            <label for="checkoutInput">Salida</label>
            <i class="sprite sprite-calendar"></i>
            <input id="checkoutInput"
                   placeholder="dd/mm/aaaa"
                   data-ng-model="hotelFinderVm.schema.checkOut"
                   type="text"/>
        </div>
        <div class="formSection">
            <label for="roomsInput">Cantidad</label>
            <input id="roomsInput"
                   placeholder="Cantidad"
                   data-ng-model="hotelFinderVm.schema.quantity"
                   type="text"/>
        </div>
        <div class="formSection dropdowns clearfix">
            <span class="floatLeft">Hu&eacute;spedes</span>
            <drop-down data-value="0"
                       data-items="[0,1,2,3,4]"
                       data-model="'adults'"
                       data-label="'Adultos'"
                       class="floatLeft">
            </drop-down>
            <drop-down data-value="0"
                       data-items="[0,1,2,3,4]"
                       data-model="'minors'"
                       data-label="'Menores'"
                       class="floatLeft">
            </drop-down>
            <i class="sprite sprite-bestPrice floatRight"></i>
        </div>
        <div class="searchHotelButton">
            <span class="floatRight">
                <i class="sprite sprite-formButton" data-ng-click="hotelFinderVm.send()"></i>
            </span>
        </div>
    </form>
</article>
