@import "customDropDown/customDropDown.css";
/*finder component*/

hotel-finder .hotelFinderContainer {
    width: 550px;
    height: 331px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 10px 0 0;
    background: #ffff33;
}

hotel-finder .hotelFinderContainer h1 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 20px 0;
}

hotel-finder .hotelFinderContainer form .formSection {
    margin: 5px 0;
}

hotel-finder .hotelFinderContainer form label {
    width: 69px;
    font-size: 13px;
    display: inline-block;
}

hotel-finder .formSection.calendar {
    position: relative;
}

hotel-finder .formSection.calendar i {
    position: absolute;
    top: 6px;
    left: 200px;
}

hotel-finder .hotelFinderContainer form input {
    width: 149px;
    height: 30px;
    border: 1px solid #999999;
    padding: 5px;
}

hotel-finder .hotelFinderContainer form .formSection.dropdowns {
    margin: 12px 0 0 0;
}

hotel-finder .hotelFinderContainer form .formSection.dropdowns > span:first-child {
    margin: 34px 0 0 0;
    font-size: 11px;
}
hotel-finder .hotelFinderContainer form .formSection.dropdowns > drop-down {
    margin: 8px 0 0 0;
}
hotel-finder .hotelFinderContainer form .searchHotelButton {
    height: 40px;
    margin: 13px 0 0 0;
}

hotel-finder .hotelFinderContainer form .sprite-bestPrice {
    margin: 0 27px 0 0;
}

hotel-finder #cityInput {
    width: 360px;
}
