hotel-categories .hotelCategories {
    background: #efefef;
    border-radius: 5px;
    margin: 20px 0;
    padding: 4px 18px 28px 18px;
}
hotel-categories .hotelCategories li{
    margin: 20px 0 0 0;
}