<ul class="hotelCategories">
    <li>
        <a>Hoteles 5 estrellas</a>
        <i class="sprite sprite-star floatRight"></i>
        <i class="sprite sprite-star floatRight"></i>
        <i class="sprite sprite-star floatRight"></i>
        <i class="sprite sprite-star floatRight"></i>
        <i class="sprite sprite-star floatRight"></i>
    </li>
    <li>
        <a>Hoteles 4 estrellas</a>
        <i class="sprite sprite-star floatRight"></i>
        <i class="sprite sprite-star floatRight"></i>
        <i class="sprite sprite-star floatRight"></i>
        <i class="sprite sprite-star floatRight"></i>
    </li>
    <li>
        <a>Hoteles 3 estrellas</a>
        <i class="sprite sprite-star floatRight"></i>
        <i class="sprite sprite-star floatRight"></i>
        <i class="sprite sprite-star floatRight"></i>
    </li>
    <li>
        <a>Hoteles 2 estrellas</a>
        <i class="sprite sprite-star floatRight"></i>
        <i class="sprite sprite-star floatRight"></i>
    </li>
    <li>
        <a>Hoteles 1 estrellas</a>
        <i class="sprite sprite-star floatRight"></i>
    </li>
</ul>
